// Utilities
@import 'utils/variables';


/* -------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  background-color: #000;
  height: 600px;
}

section {
    height: 250px;
    background-color: $neutral-color;
    padding-top: 50px;
}

p, h1, h2, h3, a, button {
  font-family: $primary-font-family;
}


h2 {
  color: $primary-color;
  padding-top: 100px;
}

h1, h2, h3 {
  color: $primary-color;
}

a {
  color: #FFF;
}

a:hover, .searchInfo, .resultInfo {
  color: $secondary-color;
}

p {
  color: $primary-color;
}

input {
  height: 35px;
}

button {
  background-color: $secondary-color;
  color: #FFF;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

button:hover {
  background-color: #fff;
  color: $secondary-color;
}

footer {
  background-color: $primary-color;
  height: 70px;
}

/* -------------------------------------------- */
/* ENTER PAGE */
/* -------------------------------------------- */

#hideMe {
  height: 900px;
  background-image: linear-gradient(rgba(0, 7, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/activitybckgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#showMe {
display: none; }

#enter {
  margin-top: 20px;
}

/* -------------------------------------------- */
/*  CUSTOM STYLES */
/* -------------------------------------------- */

/* Search type details */
.searchInfo {
  padding-top: 20px;
}

/* Search box text */
.searchTitle {
  padding-top: 30px;
}

/* Copyright text */
.footer {
  color: #FFF;
  padding-top: 20px;
}

/* Search type details */
.details {
  font-size: 1rem;
}

/* Result link text */
.linkResult {
  color: $secondary-color;
  font-size: 1.5rem;
}

/* Error */
.errMsg {
  color: #FF0000;
}

/* -------------------------------------------- */
/* MODAL - RESULT DETAILS */
/* -------------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/
}

/* Modal Content */
.modal-content {
  background-color: $neutral-color;
  color: #2699FB;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}


/* Image in the modal content */
.detailImg {
  margin-bottom: 20px;
  padding-top: 20px;
  width: 70%;
  height: 70%;
}

/* The Close Button */
.close {
  color: $secondary-color;
  text-align: right;
  font-size: 1.75rem;
  font-weight: bold;

  .close:hover,
  .close:focus {
    text-decoration: none;
  }
}

/* -------------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------------- */

@media screen and (min-width: 560px) {
  header {
    background-image: linear-gradient(rgba(0, 7, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/activitybckgrnd.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
    height: 575px;
    background-attachment: fixed;
  }

  .detailImg {
    width: 100%;
    height: 100%;
  }

  .details {
    font-size: 1.4rem;
  }
}
