$primary-color: #2699FB;
$secondary-color: #F18F01;
$primary-font-family: 'Lato', sans-serif;

body {
  background-color: #757575;
}


p, h1, h3, a, button {
  font-family: $primary-font-family;
}

h1 {
  color: $primary-color;
}

a {
  color: #FFF;
}

a:hover {
  color: $secondary-color;
}

button {
  background-color: $secondary-color;
  color: #FFF;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
